{{>layouts/header}}

<!--<form action="">-->
<!--    <input type="text">-->
<!--    <textarea></textarea>-->
<!--    <button type="submit">제출</button>-->
<!--</form>-->


<form class="container" action="/articles/create" method="post"> <!-- action : 어디로 보낼지 , method : 어떻게 보낼지-->
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title"> <!-- name : 폼데이터 변수명 지정 -->
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea> <!-- name : 폼데이터 변수명 지정 -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">Back</a> <!-- Artilce 리스트로 이동하는 a태크 링크 -->
</form>

{{>layouts/footer}}