{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}} <!-- model 사용 -->
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a> <!-- 수정을 위한 a태그 링크 -->
<a href="/articles">Go to Article List</a> <!-- Artilce 리스트로 이동하는 a태크 링크 -->

{{>layouts/footer}}